<section class="no-data" *ngIf="!widgetData">
	<h5>{{message}}</h5>
</section>
<section *ngIf="widgetData">
	<section class="row justify-content-between">
		<h4 class="col-md-4">{{widgetData.translations[0].title}}</h4>
		<section class="col-md-8">
            <section class="row justify-content-end">
                <button (click)="openInWindow(widgetData.module_name, envUrl)">new window</button>
                <button (click)="openInEditor(widgetData.module_name, envUrl)">constructor</button>
            </section>
		</section>
	</section>
	<section class="widget-frame" id="widgetFrame">
        <iframe *ngIf="widgetFrameParams"
                [src]="widgetFrameParams.dataSrc"
                [width]="widgetFrameParams.width"
                [height]="widgetFrameParams.height"
                frameborder="0"></iframe>
    </section>
	<textarea #embedcode [(ngModel)]="widgetData.custom_init_code"></textarea>
	<button  (click)="createWidget(embedcode.value, envUrl);">Generate widget</button>
</section>
