.no-data {
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
}
h4 {
    color: #000;
    font-weight: 700;
}
button {
    margin-right: 15px;
}
.widget-frame {
    overflow: hidden;
    width: 100%;
    height: 400px;
    border: 1px solid #000;
    margin: 20px 0;
    border-radius: 4px;
}
textarea {
    width: 100%;
    height: 140px;
    border-radius: 4px;
}