<section>
	<section class="row justify-content-between">
		<h4 class="col-md-4">{{selectedWidgetData.title}}</h4>
		<section class="col-md-8">
            <section class="row justify-content-end">
                <button (click)="openInWindow(selectedWidgetData.module_name, envUrl)">new window</button>
                <button (click)="openInEditor(selectedWidgetData.module_name, envUrl)">constructor</button>
            </section>
		</section>
	</section>
	<section  *ngIf="widgetFrameParams" class="widget-frame" id="widgetFrame">
        <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
        <iframe *ngIf="widgetFrameParams"
                [src]="widgetFrameParams.dataSrc"
                [width]="widgetFrameParams.width"
                [height]="widgetFrameParams.height"
                frameborder="0"></iframe>
    </section>
	<textarea #embedcode [(ngModel)]="selectedWidgetData.custom_init_code" [class.error]="!widgetFrameParams"></textarea>
	<button  (click)="createWidget(embedcode.value, envUrl);">Generate widget</button>
</section>
