<div id="search-component">
    <div class="input-group search-input">
        <span class="search"></span>
        <input #searchBox [(ngModel)]="query" class="form-control" id="search" placeholder="Search widget...">
        <span [class.visible]="searchBox.value" (click)="searchBox.value = '';" class="close">&times;</span>
    </div>
    <div [class.visible]="searchBox.value" class="search-result">
        <ul>
            <li *ngFor="let item of widgets | FilterPipe: query">
                <a href=""
                   (click)="selectWidget(item);
                   $event.preventDefault();">{{item.title}}</a>
            </li>
        </ul>
    </div>
</div>