<header class="row justify-content-between">
            <section class="environment col-1">
                <select #softEnv (change)="onChange(softEnv.value)" class="custom-select mb-2 mr-sm-2 mb-sm-0">
                    <option *ngFor="let item of titles"
                            [value]="item.title">{{item.title}}
                    </option>
                </select>
                <h2 *ngIf="titlesData">{{titlesData.type}} soft</h2>
            </section>
<!--            <section class="environment col-1">-->
<!--                <select #dataEnv-->
<!--                        (change)="onChange(softEnv.value);"-->
<!--                        class="custom-select mb-2 mr-sm-2 mb-sm-0">-->
<!--                    <option *ngFor="let item of widgetService.titles"-->
<!--                            [value]="item.title">{{item.title}}-->
<!--                    </option>-->
<!--                </select>-->
<!--                <h2 *ngIf="titlesData">{{titlesData.type}} data</h2>-->
<!--            </section>-->
        <section class="col-3">
            <section class="row justify-content-between">
                <h2 *ngIf="version">release ver. {{version.version}}</h2>
            </section>
        </section>
</header>
